/**
 * c-acc.css
 * @version 1.0.10
 * @summary 25-05-2020
 * @author Mads Stoumann
 * @description Stylesheet for Accordion.
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/
@import 'config.css';

.c-acc,
.c-acc__wrapper {
  /* Custom Properties */
  --acc-animdur--collapse: 150ms;
  --acc-animdur--expand: 400ms;
  --acc-bdc: var(--c-grey-400, grey);
  --acc-bdrs: 0;
  --acc-bds: solid;
	--acc-bdw: 0 0 1px 0;
	--acc-bgc: transparent;
  --acc-c: var(--c-grey-100, lightgrey);
  --acc-c--open: #CC00FF;
  --acc-fz: var(--u-325);
  --acc-p: 1rem 0.5rem;
  --acc-w: 100%;

  --acc-hdl-bdc: var(--c-grey-400, grey);
  --acc-hdl-bds: solid;
  --acc-hdl-bdw: 0 0 1px 0;
  --acc-hdl-c: var(--c-txt);
  --acc-hdl-fz: var(--u-475);
  --acc-hdl-m: 0;
  --acc-hdl-p: 1rem;
  --acc-hdl-tal: center;

  --acc-pnl-fz: 1rem;
  --acc-pnl-lh: 1.4;
  --acc-pnl-p: 0 0.5rem 1rem 0.5rem;
  --acc-pnl-p--desktop: 0 1rem 1rem 2rem;
}
.c-acc {
  background-color: var(--acc-bgc);
  border-color: var(--acc-bdc);
  border-radius: var(--acc-bdrs);
  border-style: var(--acc-bds);
  border-width: var(--acc-bdw);
  box-sizing: border-box;
  height: var(--collapsed);
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.c-acc__headline {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.c-ico-maa::after {
  /* TODO */
  --ico-as: flex-start !important;
  --ico-m: 0 0 0 1em !important;
  flex: 0 0 var(--ico-w);
  transition: opacity 200ms ease-out, transform 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.c-acc__panel {
  font-size: var(--acc-pnl-fz);
  line-height: var(--acc-pnl-lh);
  opacity: 0;
  padding: var(--acc-pnl-p);
}
.c-acc__summary {
  box-sizing: border-box;
  display: flex;
  font-size: var(--acc-fz);
  justify-content: space-between;
  list-style: none;
  padding: var(--acc-p);
  width: var(--acc-w);
}
.c-acc__summary:focus {
  outline: none;
}
.c-acc__summary:focus .c-acc__headline {
  text-decoration: underline;
}
.c-acc__summary::-webkit-details-marker {
	display: none;
}
.c-acc__wrapper-headline {
  border-color: var(--acc-hdl-bdc);
  border-style: var(--acc-hdl-bds);
  border-width: var(--acc-hdl-bdw);
  color: var(--acc-hdl-c);
  font-size: var(--acc-hdl-fz);
  margin: var(--acc-hdl-m);
  padding: var(--acc-hdl-p);
  text-align: var(--acc-hdl-tal);
}

@media screen and (min-width: 768px) {
  .c-acc {
    --acc-pnl-p: var(--acc-pnl-p--desktop);
  }
}

/* State */
.c-acc[open] {
  height: var(--expanded);
}
.c-acc[open] .c-acc__headline {
  color: var(--acc-c--open);
}
.c-acc[open] .c-ico-maa::after {
  transform: rotate(180deg);
}
.c-acc[open] .c-acc__panel {
  animation: opacity-fade 600ms ease-in-out forwards;
}

@keyframes opacity-fade {
  0%    {opacity: 0; }
  100%  {opacity: 1; }
}