/**
 * c-crd.css
 * @version 1.0.0
 * @summary 21-07-2020
 * @author Mads Stoumann
 * @description Stylesheet for Card Component
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/

.c-crd {
	background: #FFF;
	color: #222;
	cursor: pointer;
	/* scrollbar-color: var(--lay-scrbar-thumb-bg) var(--lay-scrbar-bg);
	scrollbar-width: var(--lay-scrbar-sz); */
}
/* TODO */
.c-crd::-webkit-scrollbar {
	background: white;
	height: var(--lay-scrbar-sz);
	width: var(--lay-scrbar-sz);
}
.c-crd::-webkit-scrollbar-thumb {
	background: darkgray;
}
.c-crd::-webkit-scrollbar-thumb:window-inactive {
	background: darkgray; 
}
.c-crd__bg {
	height: 100%;
	left: 0;
	max-width: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.c-crd__bg-wrapper {
	margin: 0;
	position: relative;
}
.c-crd__bg-wrapper::after {
	content: "";
	display: block;
	padding-bottom: 56.25%;
}
.c-crd__headline {
	--spacer-left: 1;
	--spacer-right: 1;
}
.c-crd__intro {
	--spacer-bottom: 3;
	--spacer-left: 1;
	--spacer-right: 1;
}
.c-crd__tagline {
	--spacer-bottom: 1;
	--spacer-left: 1;
	--spacer-top: 1;
	color: hsl(0, 0%, 30%);
	text-transform: uppercase;
}
.c-crd__text {
	display: none;
}

/* .c-crd:hover {
	transform: translate3d(0,-4px,0);
	box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
	transition-property: box-shadow,transform;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(.16,1,.29,.99);
} */

@media (prefers-color-scheme: dark) {
	a {
		color: #81E5d9;
	}
	.c-crd {
		background-color: hsl(215deg 27% 14%);
		color: #FDFDFD;
	}


	.c-crd__tagline {
		color: inherit;
	}
}
/* State */
[data-page-open="true"] > .c-crd {
	animation: scale-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
	min-height: 100vh !important;
	overflow-y: auto; 
	position: relative;
	width: 100%;
}

[data-page-open] .c-crd__headline {
	--font-min: 2;
  --font-max: 4;
  --line-min: 3;
	--line-max: 4.5;
	--spacer-left: 1.5;
	--spacer-right: 1.5;
  --spacer-top: 0;
  --spacer-bottom: 2;
}
[data-page-open] .c-crd__tagline {
	--spacer-left: 1.5;
}
[data-page-open] .c-crd__text {
	display: block;
	padding-bottom: calc(var(--mnu-bot-h, 6rem));
}
[data-page-open] .c-crd__text > p {
	--spacer-left: 1.5;
	--spacer-right: 1.5;
}
[data-page-open] .c-crd__intro {
	display: none;
}
@supports (-webkit-overflow-scrolling: touch) {
	/* CSS specific to iOS devices */ 
	[data-page-open="true"] > .c-crd::after {
		content: "";
		display: block;
		height: 6rem;
	}
}

@media screen and (min-width: 768px) {
	[data-page-open="true"] > .c-crd {
		height: 100vh;
		max-height: 100vh;
		width: 768px;
	}
}
@media screen and (min-width: 1200px) {
	[data-page-open="true"] > .c-crd {
		height: 100vh;
		max-height: 100vh;
		width: 1024px;
	}
}

/* Quote */
.c-qte {
	text-align: center;
}
.c-qte__cite {
	color: darkgray;
}
.c-qte__quote {
	--spacer-bottom: 0;
	--spacer-top: 2;
	display: block;
}
.c-qte__quote::before {
	color: darkgray;
	content: "\201C";
	font-family: "Georgia", serif;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0;
	vertical-align: -0.4em;
}

/* Image Block */
.c-imb {
	display: flex;
	flex-direction: column;
	margin: var(--lay-gap) 0;
}
.c-imb__image {
	margin-bottom: var(--lay-gap);
	width: 75%;
}
.c-imb__image:nth-of-type(2) {
	margin-left: auto;
}
.c-imb--right .c-imb__image:nth-of-type(1) {
	margin-left: auto;
}
.c-imb--right .c-imb__image:nth-of-type(2) {
	margin-left: 0;
}
.c-imb__text {
	--spacer-bottom: 1;
	--spacer-left: 1;
	--spacer-right: 1;
	--spacer-top: 1;
	color: darkgray;
	text-align: center;
}