/**
 * c-frm.css
 * @version 1.0.20
 * @summary 09-01-2020
 * @author Mads Stoumann
 * @description Stylesheet for Forms.
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/
@import 'config.css';
@import 'c-inp.css';

.c-frm {
	--frm-ff: var(--f-ff, sans-serif);
	font-family: var(--frm-ff);
}
/* `<fieldset>` as single-field-wrapper */
.c-frm__fld {
	border: 0;
	margin: 0;
	padding: 0;
}
.c-frm__fld-header {
	padding: 0;
}
.c-frm__fld-input	{
	--fld-pfx-bgc: var(--c-grey-200);
	--fld-pfx-bgc--foc: var(--c-grey-600);
	--fld-pfx-c: var(--c-txt);
	--fld-pfx-c--foc: var(--c-grey-50);
	--fld-pfx-w: 10%;
}
/* If regular `<input>` is within the wrapper, remove border, margin and padding */
.c-frm__fld-input .c-inp {
	--inp-bdw: 0;
	--inp-m: 0;
	--inp-pos: static;
}
.c-frm__fld-prefix,
.c-frm__fld-suffix {
	background-color: var(--fld-pfx-bgc);
	border-color: var(--inp-bdc);
	border-style: var(--inp-bds);
	flex: 0 0 var(--fld-pfx-w);
	outline: none;
	position: relative;
	z-index: -1;
}
.c-frm__fld-prefix {
	border-radius: calc(var(--inp-bdrs) - var(--inp-bdw)) 0 0 calc(var(--inp-bdrs) - var(--inp-bdw));
	border-width: 0 var(--inp-bdw) 0 0;
}
.c-frm__fld-suffix {
	border-radius: 0 calc(var(--inp-bdrs) - var(--inp-bdw)) calc(var(--inp-bdrs) - var(--inp-bdw)) 0;
	border-width: 0 0 0 var(--inp-bdw);
}
.c-frm__fld-prefix:focus,
.c-frm__fld-suffix:focus {
	background-color: var(--fld-pfx-bgc--foc);
	color: var(--fld-pfx-c--foc);
}