/**
 * c-lay.css
 * @version 1.4.7
 * @summary 13-11-2020
 * @author Mads Stoumann
 * @description Stylesheet for Layout Component
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/
@import 'c-lay_grid.css';
@import 'c-lay_navigation.css';

:root {
	--active: hsl(210, 24%, 10%);
	--active-c: hsl(210, 24%, 97%);
	--bdc:  hsl(210, 24%, 80%);
	--bgc: #FFFFFF;
	--bgc--dim: hsla(210, 24%, 95%, 0.98);
	--c: hsl(210, 24%, 16%);
	--c--dim: hsl(210, 24%, 45%);

	--ico-close: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16.893 16.632l10.922-10.922c0.247-0.247 0.247-0.647 0-0.893s-0.647-0.247-0.893 0l-10.922 10.922-10.922-10.922c-0.247-0.247-0.647-0.247-0.893 0s-0.247 0.647 0 0.893l10.922 10.922-10.922 10.922c-0.247 0.247-0.247 0.647 0 0.893 0.123 0.123 0.285 0.185 0.447 0.185s0.323-0.062 0.447-0.185l10.922-10.922 10.922 10.922c0.123 0.123 0.285 0.185 0.447 0.185s0.323-0.062 0.447-0.185c0.247-0.247 0.247-0.647 0-0.893l-10.922-10.922z"></path></svg>');
	--ico-grid: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M0 0h4v4h-4zM6 0h4v4h-4zM12 0h4v4h-4zM0 6h4v4h-4zM6 6h4v4h-4zM12 6h4v4h-4zM0 12h4v4h-4zM6 12h4v4h-4zM12 12h4v4h-4z"></path></svg>');
	--ico-images: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 1h-12v12h12v-12zM11 10h-10v-8h10v8zM8 5l-0.714 1.429-2.286-3.429-3 6h8zM13 3.856v10.144h-11.11l-0.078 0.746 11.934 1.254 1.254-11.934z"></path></svg>');

	/* TODO z-index */
	--z--bttp: 1;
	--z--menu: 4;
	--z--mlnk: 2;
	--z--mpnl: 5;
	--z--navi: 1;
	--z--ovrl: 6;
	--z--skip: 6;
	--z--tabs: 1;
	--z--scln: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--active: hsl(173, 66%, 70%);
		--active-c: hsl(210, 24%, 16%);
		--bdc: hsl(220, 14%, 35%);
		--bgc: hsl(220, 26%, 14%);
		--bgc--dim: hsl(220, 26%, 14%);
		--c: hsl(216, 33%, 97%); 
	}
}

html {
	/* TODO */
	overscroll-behavior: none;
}

body {
		/* Calculate <main> paddings from menu- and ribbon(s)-height/s */
		--main-pb: calc(var(--mnu-h, 0px) * var(--mnu-pos-b, 0px));
		--main-pt: calc(var(--mnu-h, 0px) * var(--mnu-pos-t, 0px));
		--scroll-line-top: calc(0px + (var(--mnu-h, 0px) * (1 - var(--scroll-d, 0px))));
		-webkit-overflow-scrolling: touch;
		-webkit-tap-highlight-color: var(--active);
}

.c-lay {
	/* Diagonal */
	--lay-diag-half-tan: 0.03496340597; /* tan(4deg)/2 */
	--lay-diag-p: calc(100vw * var(--lay-diag-half-tan));
	--lay-diag-skew: skewY(-4deg);
	--lay-diag-transY: translateY(var(--lay-diag-p));
	--lay-diag-unskew: skewY(4deg);

	/* Scrollbar */
	--lay-scrbar-bdrs: 0;
	--lay-scrbar-bg: hsl(210, 24%, 95%);
	--lay-scrbar-thumb-bg: hsl(210, 24%, 65%);
	--lay-scrbar-sz: 0.25rem;

	/* Main Layout Block */
	--lay-animdel: 125ms;
	--lay-bgc: var(--bgc, #FFF);
	--lay-c: var(--c, #222);
	--lay-colmc: 2;
	--lay-gap: 10px; /* MUST BE IN PIXELS (read from JavaScript) */
	--lay-gap-grid: var(--lay-gap);
	--lay-gap-grid-small: 5px;
	--lay-mb: 0;
	--lay-ml: auto;
	--lay-mr: auto;
	--lay-mt: 0;
	--lay-maw: 1600px;
	--lay-items-per-page: 1;
	--lay-pb: initial;
	--lay-pl: var(--lay-gap);
	--lay-pr: var(--lay-gap);
	--lay-pt: initial;
	--lay-desc-tal: center;
	--lay-desc-maw: 100%;
	--lay-outer-h: initial;
	--lay-head-ai: center;
	--lay-head-arr: rotate(45deg) translate(2px, -4px);
	--lay-head-fd: column;
	--lay-head-jc: initial;
	--lay-head-m: 0 auto;
	--lay-head-tal: center;
	--lay-headline-c: inherit;
	--lay-headline-maw: 100%;
	--lay-inner-pb: var(--lay-gap);
	--lay-inner-maw: 100vw;
	--lay-item-gap: var(--lay-gap);
	--lay-item-mb: var(--lay-gap);
	--lay-item-mis: var(--lay-gap);
	--lay-item-preview: 10%;
	--lay-item-smis: var(--lay-gap);
	--lay-outer-maw: 1600px; /* Should be the same as `--lay-maw`, but must NOT be changed */

	background: var(--lay-bgc);
	box-sizing: border-box;
	color: var(--lay-c);
	margin-bottom: var(--lay-mb);
	margin-left: var(--lay-ml);
	margin-right: var(--lay-mr);
	margin-top: var(--lay-mt);
	max-width: var(--lay-maw);
	padding-bottom: var(--lay-pb);
	padding-top: var(--lay-pt);
	position: relative;
	scroll-behavior: smooth;
}
.c-lay__description {
	--spacer-bottom: 3; /* from `c-typ.css` */
	font-size: var(--font-size);
  line-height: var(--line-height);
	max-width: var(--lay-desc-maw);
	padding-bottom: var(--spacing-bottom);
}
.c-lay__header {
	align-items: var(--lay-head-ai);
	display: flex;
	flex-direction: var(--lay-head-fd);
	justify-content: var(--lay-head-jc);
	margin: var(--lay-head-m);
	max-width: var(--lay-inner-maw);
	padding-inline-end: var(--lay-gap);
	padding-inline-start: var(--lay-gap);
	text-align: var(--lay-head-tal);
}
.c-lay__headline {
	color: var(--lay-headline-c);
	max-width: var(--lay-headline-maw);
	text-align: var(--lay-head-tal);
}
.c-lay__inner {
	align-items: center;
	/* TODO FIX: Generates error in Lighthouse A11Y-test */
	/* content-visibility: auto; */
	display: flex;
	margin: 0 auto;
	max-width: var(--lay-inner-maw);
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: var(--lay-inner-pb);
	scroll-snap-type: x mandatory;
}
.c-lay__inner::-webkit-scrollbar {
	background: transparent;
	border-radius: var(--lay-scrbar-bdrs);
	height: 0;
	width: 0;
}
.c-lay__inner::-webkit-scrollbar-button {
	background: var(--lay-bgc);
}
.c-lay__inner::-webkit-scrollbar-track {
	-webkit-border-radius: var(--lay-scrbar-bdrs);
	border-radius: var(--lay-scrbar-bdrs);
}
.c-lay__inner::-webkit-scrollbar-thumb {
	background: transparent;
	-webkit-border-radius: var(--lay-scrbar-bdrs);
	border-radius: var(--lay-scrbar-bdrs);
}
.c-lay__inner::-webkit-scrollbar-thumb:window-inactive {
	background: transparent; 
}
.c-lay__item {
	--lay-item-w: 100%;
	--lay-w20: calc(20% - (var(--lay-item-gap) / var(--lay-gap-num, 2)));
	--lay-w25: calc(25% - (var(--lay-item-gap) / var(--lay-gap-num, 2)));
	--lay-w33: calc((100% / 3) - (var(--lay-item-gap) / var(--lay-gap-num, 2)));
	--lay-w50: calc(50% - (var(--lay-item-gap) / var(--lay-gap-num, 2)));
	--lay-w66: calc((100% / 1.5) - (var(--lay-item-gap) / var(--lay-gap-num, 2)));
	--lay-w75: calc(75% - (var(--lay-item-gap) / var(--lay-gap-num, 2)));
	--lay-w100: calc(100% - (var(--lay-item-gap) * var(--lay-gap-num, 2)));

	box-sizing: border-box;
	flex-grow: 1;
	margin-inline-start: var(--lay-item-mis);
	min-width: var(--lay-item-w);
	position: relative;
	scroll-margin-inline-start: var(--lay-item-smis);
	scroll-snap-align: start;
	/* Safari fix */
	scroll-snap-margin: var(--lay-item-smis);
	width: var(--lay-item-w);
}
.c-lay__item > * {
	max-height: 100%;
	max-width: 100%;
}
/* Show preview/snippet of next item, only when `slider` */
[data-section-type="slider"][data-preview="next"] .c-lay__item {
	--lay-w20: calc(20% - (var(--lay-item-preview) / 5) - (var(--lay-item-gap) / (6/5)));
	--lay-w25: calc(25% - (var(--lay-item-preview) / 4) - (var(--lay-item-gap) / (5/4)));
	--lay-w33: calc((100% / 3) - (var(--lay-item-preview) / 3) - (var(--lay-item-gap) / (4/3)));
	--lay-w50: calc(50% - (var(--lay-item-preview) / 2) - (var(--lay-item-gap) / 2));
	--lay-w100: calc(100% - var(--lay-item-preview));
}
/* Animation item delays */
.c-lay__item:nth-of-type(1) { animation-delay: calc(var(--lay-animdel) / 2); }
.c-lay__item:nth-of-type(2) { animation-delay: calc(2 * var(--lay-animdel)); }
.c-lay__item:nth-of-type(3) { animation-delay: calc(3 * var(--lay-animdel)); }
.c-lay__item:nth-of-type(4) { animation-delay: calc(4 * var(--lay-animdel)); }
.c-lay__item:nth-of-type(5) { animation-delay: calc(5 * var(--lay-animdel)); }
.c-lay__item:nth-of-type(6) { animation-delay: calc(6 * var(--lay-animdel)); }
.c-lay__item:nth-of-type(7) { animation-delay: calc(7 * var(--lay-animdel)); }
.c-lay__item:nth-of-type(8) { animation-delay: calc(8 * var(--lay-animdel)); }
.c-lay__item:nth-of-type(9) { animation-delay: calc(9 * var(--lay-animdel)); }
/* Add `dummy` element at end of slider to simulate margin */
.c-lay__item:last-of-type::after {
	border-inline-end: var(--lay-gap) solid transparent;
	/* Safari fix */
	border-right: var(--lay-gap) solid transparent;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: calc(0px - var(--lay-gap));
	top: 0;
}
.c-lay__outer {
	position: relative;
}
.c-lay__wrapper {
	-webkit-overflow-scrolling: touch;
	height: 100%;
	max-width: 100vw;
	padding-bottom: var(--main-pb);
	padding-top: var(--main-pt);
}

/* 
==========
MODIFIERS
==========
*/

/* ALIGN ITEMS */
[data-align="center"] .c-lay__inner {
	align-items: center;
}
[data-align="end"] .c-lay__inner {
	align-items: flex-end;
}
[data-align="start"] .c-lay__inner {
	align-items: flex-start;
}
[data-align="stretch"] .c-lay__inner {
	align-items: stretch;
}
[data-align="stretch"] .c-lay__item > * {
	height: 100%;
}

/* ANIMATION DELAY */
[data-animation-delay="0"] { --lay-animdel: 0ms; }
[data-animation-delay="25"] { --lay-animdel: 25ms; }
[data-animation-delay="50"] { --lay-animdel: 50ms; }
[data-animation-delay="75"] { --lay-animdel: 75ms; }
[data-animation-delay="100"] { --lay-animdel: 100ms; }
[data-animation-delay="150"] { --lay-animdel: 150ms; }
[data-animation-delay="175"] { --lay-animdel: 175ms; }
[data-animation-delay="200"] { --lay-animdel: 200ms; }
[data-animation-delay="300"] { --lay-animdel: 300ms; }
[data-animation-delay="400"] { --lay-animdel: 400ms; }
[data-animation-delay="500"] { --lay-animdel: 500ms; }

/* DIAGONAL LAYOUTS */
[data-diagonal*="small"],
[data-diagonal*="medium"] {
	transform: var(--lay-diag-skew) var(--lay-diag-transY);
	margin-bottom: calc(var(--lay-diag-p) * 2);
}
[data-diagonal*="content"] .c-lay__outer {
	padding-bottom: calc(var(--lay-diag-p) * 2);
	transform: var(--lay-diag-unskew) var(--lay-diag-transY);
}
[data-diagonal*="header"] .c-lay__header {
	padding-bottom: calc(var(--lay-diag-p) * 2);
	transform: var(--lay-diag-unskew) var(--lay-diag-transY);
}
[data-diagonal*="content header"] .c-lay__header {
	margin-bottom: initial;
}
[data-diagonal*="reverse"] {
	transform: var(--lay-diag-unskew) var(--lay-diag-transY);
}
[data-diagonal*="header reverse"] .c-lay__header {
	transform: var(--lay-diag-skew) var(--lay-diag-transY);
}
[data-diagonal*="content header reverse"] .c-lay__outer {
	transform: var(--lay-diag-skew) var(--lay-diag-transY);
}
[data-diagonal*="medium"] {
	--lay-diag-half-tan: 0.06139228045; /* Calculated using: tan(7deg)/2 */
	--lay-diag-skew: skewY(-7deg);
	--lay-diag-unskew: skewY(7deg);
}
[data-diagonal*="small"] [data-toggle-expanded],
[data-diagonal*="medium"] [data-toggle-expanded] {
	transform: var(--lay-diag-unskew);
}
[data-diagonal*="reverse"] [data-toggle-expanded] {
	transform: var(--lay-diag-skew);
}

/* EXPAND/COLLAPSE */
[data-expanded="false"] .c-lay__outer::after {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--lay-bgc) 80%);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
[data-expanded] .c-lay__outer {
	height: var(--lay-outer-h);
	overflow: hidden;
	transition: height .5s ease-in;
}
[data-collapsed-height="full"] {
	--lay-outer-h: initial;
}
[data-collapsed-height="small"] {
	--lay-outer-h: 15rem;
}
[data-collapsed-height="medium"] {
	--lay-outer-h: 30rem;
}
[data-collapsed-height="large"] {
	--lay-outer-h: 45rem;
}
[data-toggle-expanded] {
	align-items: center;
	background: transparent;
	border: 0;
	color: inherit;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
[data-toggle-expanded] span {
	display: inline-flex;
	justify-content: center;
	margin-bottom: var(--lay-gap);
}
[data-toggle-expanded] span i {
	bottom: var(--lay-nav-btn-ico-bdw);
	transform: rotate(135deg);
}
[data-expanded="true"] [data-toggle-expanded] span i {
	top: var(--lay-nav-btn-ico-bdw);
	transform: rotate(-45deg);
}
[data-toggle-expanded]:focus {
	outline: none;
}
[data-toggle-expanded]:focus .c-lay__nav-btn {
	box-shadow: 0 0 0 8px var(--lay-nav-btn-bxsh--focus);
}
[data-toggle-expanded]:focus .c-lay__nav-txt {
	text-decoration: dotted underline;
}
[data-collapsed-height="full"] [data-toggle-expanded] {
	display: none;
}

/* HEADER TYPE */
[data-header-type="left"] {
	--lay-head-ai: flex-start;
	--lay-head-tal: left;
}
[data-header-type="right"] {
	--lay-head-ai: flex-end;
	--lay-head-tal: right;
}
[data-header-type="row"] {
	--lay-head-fd: row;
	--lay-head-jc: space-between;
}
[data-header-type="row"] .c-lay__description {
	display: none;
}
[data-header-type="row"] .c-lay__header {
	--lay-head-tal: left;
	margin-bottom: var(--lay-gap);
}
[data-header-type="row"] .c-lay__headline {
	--spacer-bottom: 0;
}
[data-header-type="row"] [data-layout-label] {
	align-items: center;
	background-color: transparent;
	border: 0;
	display: inline-flex;
	color: inherit;
	cursor: pointer;
	font-size: small;
	margin-inline-start: var(--lay-gap);
	text-align: end;
	white-space: nowrap;
}
[data-header-type="row"] [data-layout-label]::after {
	border-style: solid;
	border-width: 0 1px 1px 0;
	box-sizing: border-box;
	content: '';
	display: inline-block;
	height: 0.5em;
	margin-inline-start: 0.15em;
	position: relative;
	transform: var(--lay-head-arr);
	transition: transform .16s ease-in;
	width: 0.5em;
}
[data-header-type="row"] [data-layout-label]:focus {
	outline: none;
	text-decoration: dotted underline;
}
[data-section-type="stack"][data-toggle-layout="slider"] .c-lay__header {
	--lay-head-arr: rotate(-135deg) translate(-4px, 0);
	padding-inline-end: 0;
	padding-inline-start: 0;
}

/* MARGIN, PADDING AND GAPS */
[data-mb="1x"] { --lay-mb: var(--lay-gap); }
[data-mb="2x"] { --lay-mb: calc(var(--lay-gap) * 2); }
[data-mb="3x"] { --lay-mb: calc(var(--lay-gap) * 3); }
[data-mb="4x"] { --lay-mb: calc(var(--lay-gap) * 4); }
[data-mt="1x"] { --lay-mt: var(--lay-gap); }
[data-mt="2x"] { --lay-mt: calc(var(--lay-gap) * 2); }
[data-mt="3x"] { --lay-mt: calc(var(--lay-gap) * 3); }
[data-mt="4x"] { --lay-mt: calc(var(--lay-gap) * 4); }
[data-pb="1x"] { --lay-pb: var(--lay-gap); }
[data-pb="2x"] { --lay-pb: calc(var(--lay-gap) * 2); }
[data-pb="3x"] { --lay-pb: calc(var(--lay-gap) * 3); }
[data-pb="4x"] { --lay-pb: calc(var(--lay-gap) * 4); }
[data-pt="1x"] { --lay-pt: var(--lay-gap); }
[data-pt="2x"] { --lay-pt: calc(var(--lay-gap) * 2); }
[data-pt="3x"] { --lay-pt: calc(var(--lay-gap) * 3); }
[data-pt="4x"] { --lay-pt: calc(var(--lay-gap) * 4); }
[data-inner-pb="0x"] { --lay-inner-pb: 0px; }
[data-inner-pb="2x"] { --lay-inner-pb: calc(var(--lay-gap) * 2); }
[data-inner-pb="3x"] {	--lay-inner-pb: calc(var(--lay-gap) * 3); }
[data-inner-pb="4x"] {	--lay-inner-pb: calc(var(--lay-gap) * 4); }

/* MASONRY */
[data-section-type="masonry"] .c-lay__inner {
	--lay-inner-pb: 0;
	column-count: var(--lay-colmc);
	column-gap: var(--lay-gap);
	display: block;
	padding-left: var(--lay-pl);
	padding-right: var(--lay-pr);
}
[data-section-type="masonry"] .c-lay__item {
	--lay-item-w: 100%;
	margin: 0;
	padding-bottom: var(--lay-gap);
	page-break-inside: avoid;
}

/* PREVIEW NEXT/PREV ITEM: This only works with odd numbers, 1 and 3. 
Phone-specific styles in `c-lay_grid.css`
*/
[data-section-type="slider"][data-preview="both"] .c-lay__item {
	scroll-snap-align: center;
}

/* SCROLLBAR */
[data-nav*="scroll"] .c-lay__inner {
	scrollbar-color: var(--lay-scrbar-thumb-bg) var(--lay-scrbar-bg);
	scrollbar-width: var(--lay-scrbar-sz);
}
[data-nav*="scroll"] .c-lay__inner::-webkit-scrollbar {
	background: var(--lay-scrbar-bg);
	height: var(--lay-scrbar-sz);
	width: var(--lay-scrbar-sz);
}
[data-nav*="scroll"] .c-lay__inner::-webkit-scrollbar-thumb {
	background: var(--lay-scrbar-thumb-bg);
}
[data-nav*="scroll"] .c-lay__inner::-webkit-scrollbar-thumb:window-inactive {
	background: var(--lay-scrbar-thumb-bg); 
}
/* TODO: HACK Firefox */
@-moz-document url-prefix() { 
  .c-lay__inner {
     overflow: hidden;
  }
}

/*
SCROLL-SNAP: Add vertical scroll-snap.
WARNING: Can affect expand/collapse */
[data-snap="true"] {
	scroll-snap-align: start;
}

/* STACK */
[data-section-type="stack"] {
	/* Add left- and right padding to section, when using `stack` */
	padding-left: var(--lay-pl);
	padding-right: var(--lay-pr);
}
[data-section-type="stack"] .c-lay__inner {
	flex-wrap: wrap;
	overflow-x: hidden;
	--lay-inner-pb: 0px; /* Remove parent padding, add to individual items instead */
}
[data-section-type="stack"] .c-lay__item {
	/* Add vertical gap between items */
	margin-bottom: var(--lay-item-mb);
}
[data-section-type="stack"] .c-lay__item:last-of-type::after {
	display: none;
}

/* THEMES */
[data-theme="theme01"] {
	--lay-bgc:hsl(195, 20%, 95%);
	--lay-c: hsl(195, 20%, 16%);
	--lay-dot-bgc: hsl(195, 20%, 75%);
	--lay-dot-bgc--cur: hsl(195, 20%, 34%);
	--lay-nav-btn-bg: hsla(195, 20%, 16%, 0.85);
	--lay-scrbar-bg: hsl(195, 20%, 85%);
	--lay-scrbar-thumb-bg: hsl(195, 20%, 55%);
}
[data-theme="theme02"] {
	--lay-dot-bgc: hsl(195, 50%, 50%);
	--lay-dot-bgc--cur: hsl(195, 100%, 95%);
	--lay-dot-bgc--cur-focus: hsl(195, 100%, 95%);
	--lay-bgc: hsl(195,100%,30%);
	--lay-c: hsl(195, 100%, 100%);
	--lay-scrbar-bg: hsl(195, 100%, 35%);
	--lay-scrbar-thumb-bg: hsl(195, 100%, 90%);
}
[data-theme="theme03"] {
	--lay-bgc: hsla(217, 16%, 35%, 1);
	--lay-c: hsla(217, 16%, 98%, 1);
	--lay-dot-bgc: hsl(217, 16%, 55%);
	--lay-dot-bgc--cur: hsl(217, 16%, 95%);
	--lay-nav-btn-bg: hsla(217, 16%, 35%, 0.85);
	--lay-scrbar-bg: hsl(217, 16%, 45%);
	--lay-scrbar-thumb-bg: hsl(217, 16%, 85%);
}
[data-theme="theme04"] {
	--lay-bgc: hsl(210, 24%, 84%);
	--lay-c: hsl(210, 24%, 24%);
	--lay-dot-bgc: hsl(210, 24%, 74%);
	--lay-dot-bgc--cur: hsl(210, 2%, 44%);
	--lay-nav-btn-bg: hsla(210, 24%, 24%, 0.85);
	--lay-scrbar-bg: hsl(210, 24%, 74%);
	--lay-scrbar-thumb-bg: hsl(210, 24%, 54%);
}
[data-theme="theme05"] {
	--lay-bgc: hsl(220, 26%, 14%);
	--lay-c: #FDFDFD;
	--lay-dot-bgc: hsl(220, 26%, 34%);
	--lay-dot-bgc--cur: hsl(220, 26%, 84%);
	--lay-dot-bgc--cur-focus: hsl(220, 26%, 34%);
	--lay-dot-bxsh: hsl(195, 100%, 99%);
	--lay-scrbar-bg: hsl(220, 26%, 38%);
	--lay-scrbar-thumb-bg: hsl(220, 26%, 68%);
}
@media (prefers-color-scheme: dark) {
	/* TODO: Test/create all themes to work with dark-mode ! */
	.c-lay {
		--lay-bgc: hsl(220, 26%, 14%);
		--lay-c: #FDFDFD;
		--lay-dot-bgc: hsl(220, 26%, 34%);
		--lay-dot-bgc--cur: hsl(220, 26%, 84%);
		--lay-dot-bgc--cur-focus: hsl(220, 26%, 34%);
		--lay-dot-bxsh: hsl(195, 100%, 99%);
		--lay-scrbar-bg: hsl(220, 26%, 38%);
		--lay-scrbar-thumb-bg: hsl(220, 26%, 68%);
	}
	[data-theme="theme01"] {
		--lay-bgc:#2d3949;
		--lay-c: #FEFEFE;
	}
	[data-theme="theme02"] {
		--lay-bgc: hsl(214, 19%, 28%);
		--lay-c: #FEFEFE;
		--lay-dot-bgc: hsl(214, 19%, 48%);
		--lay-dot-bgc--cur: hsl(214, 19%, 78%);
		--lay-dot-bgc--cur-focus: hsl(195, 100%, 95%);
		--lay-scrbar-bg: hsl(214, 19%, 38%);
		--lay-scrbar-thumb-bg: hsl(214, 19%, 68%);
	}
	[data-theme="theme03"] {
		--lay-bgc: #4A5567;
		--lay-c: #FEFEFE;
	}
	[data-theme="theme04"] {
		--lay-bgc: #4A5567;
		--lay-c: #FEFEFE;
	}
}

/* WIDTHS */
[data-outer-maw="l"] { --lay-maw: 100rem; }
[data-outer-maw="xl"] { --lay-maw: 100% !important; }
[data-inner-maw="l"] { --lay-inner-maw: 100rem; }
[data-inner-maw="xl"] { --lay-inner-maw: 100%; }

/*
====
RWD
====
*/
@media screen and (min-width: 48rem) {
	.c-lay { --lay-gap: 16px; }
	/* PREVIEW */
	[data-section-type="slider"][data-preview="both"][data-grid-tablet="33:33:33"] .c-lay__item,
	[data-section-type="slider"][data-preview="both"][data-grid-desktop="33:33:33"] .c-lay__item {
		--lay-item-w: calc(((100% - (var(--lay-item-preview) * 2)) / 3));
		--lay-item-smis: 0;
	}
	[data-section-type="slider"][data-preview="both"][data-grid-tablet="100"] .c-lay__item,
	[data-section-type="slider"][data-preview="both"][data-grid-desktop="100"] .c-lay__item {
		--lay-item-w: calc(((100% - (var(--lay-item-preview) * 2))));
		--lay-item-smis: 0;
	}
}
@media screen and (min-width: 64rem) {
	/* WIDTHS */
	[data-desc-w="s"] { --lay-desc-maw: 65%; }
	[data-desc-w="m"] { --lay-desc-maw: 90%; }
	[data-headline-w="s"] { --lay-headline-maw: 75%;	}
	[data-headline-w="m"] { --lay-headline-maw: 90%;	}
	[data-inner-maw="xs"] { --lay-inner-maw: 40rem; }
	[data-inner-maw="s"] { --lay-inner-maw: 60rem; }
	[data-outer-maw="xs"] { --lay-maw: 40rem; }
	[data-outer-maw="s"] { --lay-maw: 60rem; }
}
@media screen and (min-width: 75rem) {
	.c-lay {
		--lay-gap: 20px;
	}
	[data-theme] .c-lay__item {
		--lay-item-smis: var(--lay-item-gap);
	}
	[data-theme]:not([data-theme=""]) {
		--lay-maw: calc(100vw - (var(--lay-gap) * 2));
	}
	[data-section-type="slider"]:not([data-theme]) {
		--lay-maw: calc(100% - (var(--lay-gap) * 2));
	}
	[data-section-type="slider"]:not([data-theme]) .c-lay__item {
		--lay-item-smis: 0;
	}
	[data-section-type="slider"]:not([data-theme]) .c-lay__item:first-of-type {
		--lay-item-mis: 0;
	}
	[data-section-type="slider"]:not([data-theme]) .c-lay__item:last-of-type::after {
		display: none;
	}
	[data-section-type="grid-gallery"] .c-lay__item:last-of-type::after {
		display: none;
	}
	/* WIDTHS */
	[data-desc-w="s"] { --lay-desc-maw: 50%; }
	[data-desc-w="m"] { --lay-desc-maw: 75%;	}
	[data-headline-w="s"] { --lay-headline-maw: 50%; }
	[data-headline-w="m"] { --lay-headline-maw: 75%; }
	[data-inner-maw="m"] { --lay-inner-maw: 75rem; }
	[data-outer-maw="m"] { --lay-maw: 75rem; }
}
/* When screen is larger than OUTER */
@media screen and (min-width: 100rem) {
	[data-section-type="grid-gallery"],
	[data-section-type="stack"] {
		--lay-maw: calc(var(--lay-outer-maw));
	}
	[data-theme]:not([data-theme=""]) {
		--lay-maw: calc(var(--lay-outer-maw) - (var(--lay-gap) * 2));
	}
	[data-section-type="slider"]:not([data-theme]) {
		--lay-maw: calc(var(--lay-outer-maw) - (var(--lay-gap) * 2));
	}
}

/* TOUCH - TARGET */
@media (hover: none) and (pointer: coarse) {
	[data-ebook="inner"]:focus {
		border: 0;
	}
	.c-lay__wrapper {
		-webkit-overflow-scrolling: touch;
		max-width: 100vw;
	}
	.c-lay__wrapper--snap {
		height: 100%;
		max-height: 100vh;
		overflow-y: scroll;
		scroll-snap-type: y proximity;
	}
}

/*
==================
CUSTOM ITEM TYPES
==================
*/

/*
======
EBOOK
======
*/
[data-item-type="ebook"] {
	--lay-pl: 0;
	--lay-pr: 0;
}
[data-section-type="stack"] [data-ebook="inner"] {
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}
[data-ebook="item"] {
	--lay-item-mb: 0;
	-webkit-overflow-scrolling: touch;
	columns: var(--lay-inner-maw) auto;
	column-gap: 0;
	height: calc(100vh - (var(--lay-item-gap) * 5));
	/* height: calc(100vh - (var(--lay-item-gap) * 5) - var(--mnu-h, 0)); */
	orphans: 3;
	widows: 2;
}
[data-ebook="item"] > * {
	margin: 0 calc(var(--lay-gap) * var(--cp-w, 2));
	width: calc(var(--lay-inner-maw) - (var(--lay-gap) * var(--cp-w, 2) * 2));
}
[data-ebook="inner"]:focus {
	border-left: 1px dashed var(--c--dim);
	border-right: 1px dashed var(--c--dim);
	outline: none;
}
[data-ebook="page"] {
	margin: 0 0 var(--lay-gap) 0;
	margin-right: 0;
	max-width: none;
	width: var(--lay-inner-maw);
	scroll-snap-align: start;
	position: relative;
	text-align: center;
}
[data-ebook="wrapper"] {
	display: flex;
}
[data-collapsed-height="small"] [data-ebook="item"] { height: 20rem; }
[data-collapsed-height="medium"] [data-ebook="item"] { height: 30rem; }
[data-collapsed-height="large"] [data-ebook="item"] { height: 40rem; }

/* HACK:Firefox */
@-moz-document url-prefix() { 
	[data-ebook="item"] {
		columns: calc(var(--lay-inner-maw) - (var(--lay-gap) * var(--cp-w, 2) * 2)) auto;
	}
}

/*
===========
PAGE POPUP
===========
*/
.c-lay__inner--page {
	overflow-x: initial;
	overflow-y: initial;
}
.c-lay--overlay,
[data-page-open="true"] {
	--lay-item-mis: 0px;
	backdrop-filter: saturate(180%) blur(10px);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
	background-color: rgba(255,255,255,0.62);
	border-radius: 0;
	bottom: 0;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: background-color 0.3s cubic-bezier(0.28, 0.11, 0.32, 1);
	transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
	width: 100vw !important;
	z-index: var(--z--ovrl);
}
.c-lay--overlay {
	background-color: rgba(0,0,0,0.9);
	color: #FFF;
	display: block;
}
/* TODO: SVG FOR CLOSE BTN, browser consistency */
[data-page-open="true"]::after,
[data-page-open="true"]:last-of-type::after {
	align-items: center;
	background-color: hsl(217, 16%, 35%);
	border-inline-end: none;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #FFF;
	box-sizing: content-box;
	color: #FFF;
	content: '\2715';
	cursor: pointer;
	display: inline-flex;
	font-family: ui-sansserif, sans-serif;
	font-size: 2rem;
	height: 3rem;
	justify-content: center;
	position: absolute;
	right: var(--lay-gap);
	top: var(--lay-gap);
	width: 3rem;
	z-index: var(--z--ovrl);
}

/* 
======
IMAGE 
======
*/
[data-section-type="slider"][data-item-type*="image"] .c-lay__item {
	text-align: center;
}
[data-item-type*="image"] [data-layout-label] {
	--ico-gallery: var(--ico-images);
	background-color: transparent;
	border: 0;
	color: currentColor;
	font-size: 1rem;
}
[data-item-type*="image"] [data-layout-label]::before {
	background-color: currentColor;
	content: "";
	display: inline-block;
	height: 1rem;
	margin-inline-end: 0.5rem;
	mask: no-repeat left center/1rem var(--ico-gallery);
	-webkit-mask: no-repeat left center/1rem var(--ico-gallery);
	width: 1rem;
}
.c-lay--overlay[data-item-type*="image"] [data-layout-label] {
	--ico-gallery: var(--ico-grid);
}
[data-item-type*="image"] [data-layout-label]:focus {
	outline: none;
	text-decoration: dotted underline;
}