/**
 * c-lay_grid.css
 * @version 1.3.7
 * @summary 19-08-2020
 * @author Mads Stoumann
 * @description Stylesheet for Layout Component: Grid
*/
/*
===========
GRID PHONE
===========
*/
@media screen and (max-width: 767px) {
	/* 50% */
	[data-grid-phone="50:50"] .c-lay__item {
		--lay-item-w: var(--lay-w50);
	}
	[data-section-type="masonry"][data-grid-phone="50:50"] {
		--lay-colmc: 2;
	}
	[data-section-type="masonry"][data-grid-phone="50:50"] .c-lay__item {
		--lay-w50: 100%;
	} 
	[data-section-type="slider"][data-grid-phone="50:50"] .c-lay__item {
		--lay-gap-num: (2/3);
	}
	[data-section-type="stack"][data-grid-phone="50:50"] .c-lay__item:nth-of-type(2n+1) {
		--lay-item-mis: 0;
	}
	/* 100% */
	[data-section-type="slider"][data-grid-phone="100"] .c-lay__item {
		--lay-items-per-page: 1;
		--lay-item-w: var(--lay-w100);
	}
	[data-section-type="stack"][data-grid-phone="100"] .c-lay__item {
		--lay-item-mis: 0;
		--lay-item-w: 100%;
	}

	/* GAPS */
	.c-lay[data-gap-phone*="column"] {
		--lay-item-gap: 0px;
		--lay-item-mis: 0px;
	}
	.c-lay[data-gap-phone*="edge"] {
		--lay-item-smis: 0px;
		--lay-pl: 0px;
		--lay-pr: 0px;
	}
	.c-lay[data-section-type="grid-gallery"][data-gap-phone*="grid"] {
		--lay-gap-grid: 0;
	}
	.c-lay[data-section-type="grid-gallery"][data-gap-phone*="small"] {
		--lay-gap-grid: var(--lay-gap-grid-small);
	}
	.c-lay[data-section-type="slider"][data-gap-phone*="edge"] .c-lay__item:first-of-type {
		--lay-item-mis: 0px;
	}
	.c-lay[data-gap-phone*="row"] {
		--lay-item-mb: 0px;
	}

	/* PREVIEW NEXT/PREV ITEM: This only works with odd numbers, 1 and 3. */
	[data-section-type="slider"][data-preview="next-phone"] .c-lay__item {
		--lay-w25: calc(25% - (var(--lay-item-preview) / 4) - (var(--lay-item-gap) / (5/4)));
		--lay-w33: calc((100% / 3) - (var(--lay-item-preview) / 3) - (var(--lay-item-gap) / (4/3)));
		--lay-w50: calc(50% - (var(--lay-item-preview) / 2) - (var(--lay-item-gap) / 2));
		--lay-w100: calc(100% - var(--lay-item-preview));
	}
	
	[data-section-type="slider"][data-preview="both"] .c-lay__item,
	[data-section-type="slider"][data-preview="both-phone"] .c-lay__item {
		--lay-item-w: calc(100% - (var(--lay-item-preview) * 2));
		--lay-item-smis: 0;
		scroll-snap-align: center;
	}

	/* ITEMS PER PAGE */
	.c-lay[data-grid-phone="50:50"] {
		--lay-items-per-page: 2;
	}
	.c-lay[data-grid-phone="100"] {
		--lay-items-per-page: 1;
	}

	/* HIDDEN */
	.c-lay[data-grid-phone="hidden"] {
		display: none;
	}
}

/*
============
GRID TABLET 
============
*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
	/* 25% */
	[data-grid-tablet="25:25:25:25"] .c-lay__item {
		--lay-gap-num: (4/3);
		--lay-item-w: var(--lay-w25);
	}
	[data-section-type="masonry"][data-grid-tablet="25:25:25:25"] {
		--lay-colmc: 4;
	}
	[data-section-type="masonry"][data-grid-tablet="25:25:25:25"] .c-lay__item {
		--lay-w25: 100%;
	}
	[data-section-type="slider"][data-grid-tablet="25:25:25:25"] .c-lay__item {
		--lay-gap-num: (4/5);
	}
	/* 25% / 75% */
	[data-grid-tablet="25:75"] .c-lay__item:nth-of-type(2n+1),
	[data-grid-tablet="75:25"] .c-lay__item:nth-of-type(2n+2) {
		--lay-item-w: var(--lay-w25);
	}
	[data-grid-tablet="75:25"] .c-lay__item:nth-of-type(2n+1),
	[data-grid-tablet="25:75"] .c-lay__item:nth-of-type(2n+2) {
		--lay-item-w: var(--lay-w75);
	}
	[data-section-type="slider"][data-grid-tablet="25:75"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-grid-tablet="75:25"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: 1;
	}
	[data-section-type="slider"][data-grid-tablet="75:25"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-grid-tablet="25:75"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: 0.5;
	}
	/* 25% / 50% */
	[data-grid-tablet="50:25:25"] .c-lay__item:nth-of-type(3n+1),
	[data-grid-tablet="25:50:25"] .c-lay__item:nth-of-type(3n+2),
	[data-grid-tablet="25:25:50"] .c-lay__item:nth-of-type(3n+3) {
		--lay-gap-num: (3/2);
		--lay-item-w: var(--lay-w50);
	}
	[data-grid-tablet="25:50:25"] .c-lay__item:nth-of-type(3n+1),
	[data-grid-tablet="25:50:25"] .c-lay__item:nth-of-type(3n+3),
	[data-grid-tablet="50:25:25"] .c-lay__item:nth-of-type(3n+2),
	[data-grid-tablet="50:25:25"] .c-lay__item:nth-of-type(3n+3),
	[data-grid-tablet="25:25:50"] .c-lay__item:nth-of-type(3n+1),
	[data-grid-tablet="25:25:50"] .c-lay__item:nth-of-type(3n+2) {
		--lay-gap-num: (3/2);
		--lay-item-w: var(--lay-w25);
	}
	[data-section-type="slider"][data-grid-tablet="50:25:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-grid-tablet="25:50:25"] .c-lay__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-grid-tablet="25:25:50"] .c-lay__item:nth-of-type(3n+3) {
		--lay-gap-num: 1;
	}
	[data-section-type="slider"][data-grid-tablet="25:50:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-grid-tablet="25:50:25"] .c-lay__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-grid-tablet="50:25:25"] .c-lay__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-grid-tablet="50:25:25"] .c-lay__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-grid-tablet="25:25:50"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-grid-tablet="25:25:50"] .c-lay__item:nth-of-type(3n+2) {
		--lay-gap-num: (2/3);
	}
	[data-section-type="masonry"][data-grid-tablet="50:50"] {
		--lay-colmc: 2;
	}
	[data-section-type="masonry"][data-grid-tablet="50:50"] .c-lay__item {
		--lay-w50: 100%;
	} 
	/* 33% */
	[data-grid-tablet="33:33:33"] .c-lay__item {
		--lay-gap-num: (3/2);
		--lay-item-w: var(--lay-w33); 
	}
	[data-section-type="masonry"][data-grid-tablet="33:33:33"] {
		--lay-colmc: 3;
	}
	[data-section-type="masonry"][data-grid-tablet="33:33:33"] .c-lay__item {
		--lay-w33: 100%;
	} 
	[data-section-type="slider"][data-grid-tablet="33:33:33"] .c-lay__item {
		--lay-gap-num: (3/4);
	}
	/* 33% / 66% */
	[data-grid-tablet="66:33"] .c-lay__item:nth-of-type(2n+2),
	[data-grid-tablet="33:66"] .c-lay__item:nth-of-type(2n+1) {
		--lay-gap-num: (3/2);
		--lay-item-w: var(--lay-w33);
	}
	[data-grid-tablet="66:33"] .c-lay__item:nth-of-type(2n+1),
	[data-grid-tablet="33:66"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: 3;
		--lay-item-w: var(--lay-w66);
	}
	[data-section-type="slider"][data-grid-tablet="66:33"] .c-lay__item:nth-of-type(2n+2),
	[data-section-type="slider"][data-grid-tablet="33:66"] .c-lay__item:nth-of-type(2n+1) {
		--lay-gap-num: 1;
	}
	[data-section-type="slider"][data-grid-tablet="66:33"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-grid-tablet="33:66"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: (1/2);
	}
	/* 50% */
	[data-grid-tablet="50:50"] .c-lay__item {
		--lay-item-w: var(--lay-w50);
	}
	[data-section-type="slider"][data-grid-tablet="50:50"] .c-lay__item {
		--lay-gap-num: (2/3);
	}
	/* 100% */
	[data-section-type="slider"][data-grid-tablet="100"] .c-lay__item {
		--lay-item-w: var(--lay-w100);
	}
	[data-section-type="stack"][data-grid-tablet="100"] .c-lay__item {
		--lay-item-mis: 0;
		--lay-item-w: 100%;
	}

	/* STACK: Remove margin-inline-start from first item in each row */
	[data-section-type="stack"][data-grid-tablet="25:25:25:25"] .c-lay__item:nth-of-type(4n+1),
	[data-section-type="stack"][data-grid-tablet="25:75"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-tablet="75:25"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-tablet="50:25:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-tablet="25:50:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-tablet="25:25:50"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-tablet="33:33:33"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-tablet="33:66"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-tablet="66:33"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-tablet="50:50"] .c-lay__item:nth-of-type(2n+1) {
		--lay-item-mis: 0;
	}

	/* GAPS */
	.c-lay[data-gap-tablet*="column"] {
		--lay-item-gap: 0px;
		--lay-item-mis: 0px;
	}
	.c-lay[data-gap-tablet*="edge"] {
		--lay-item-smis: 0px;
		--lay-pl: 0px;
		--lay-pr: 0px;
	}
	.c-lay[data-section-type="grid-gallery"][data-gap-tablet*="grid"] {
		--lay-gap-grid: 0;
	}
	.c-lay[data-section-type="grid-gallery"][data-gap-tablet*="small"] {
		--lay-gap-grid: var(--lay-gap-grid-small);
	}
	.c-lay[data-section-type="slider"][data-gap-tablet*="edge"] .c-lay__item:first-of-type {
		--lay-item-mis: 0px;
	}
	.c-lay[data-gap-tablet*="row"] {
		--lay-item-mb: 0px;
	}

	/* ITEMS PER PAGE */
	.c-lay[data-grid-tablet="25:25:25:25"] {
		--lay-items-per-page: 4;
	}
	.c-lay[data-grid-tablet="25:25:50"],
	.c-lay[data-grid-tablet="25:50:25"],
	.c-lay[data-grid-tablet="50:25:25"],
	.c-lay[data-grid-tablet="33:33:33"] {
		--lay-items-per-page: 3;
	}
	.c-lay[data-grid-tablet="25:75"],
	.c-lay[data-grid-tablet="75:25"],
	.c-lay[data-grid-tablet="50:50"],
	.c-lay[data-grid-tablet="33:66"],
	.c-lay[data-grid-tablet="66:33"] {
		--lay-items-per-page: 2;
	}
	.c-lay[data-grid-tablet="100"] {
		--lay-items-per-page: 1;
	}

	/* HIDDEN */
	.c-lay[data-grid-tablet="hidden"] {
		display: none;
	}
}

/*
=============
GRID DESKTOP 
=============
*/
@media screen and (min-width: 1200px) {
	/* 20% */
	[data-grid-desktop="20:20:20:20:20"] .c-lay__item {
		--lay-gap-num: (5/4);
		--lay-item-w: var(--lay-w20);
	}
	/* 25% */
	[data-grid-desktop="25:25:25:25"] .c-lay__item {
		--lay-gap-num: (4/3);
		--lay-item-w: var(--lay-w25);
	}
	[data-section-type="masonry"][data-grid-desktop="25:25:25:25"] {
		--lay-colmc: 4;
	}
	[data-section-type="masonry"][data-grid-desktop="25:25:25:25"] .c-lay__item {
		--lay-w25: 100%;
	}
	[data-section-type="slider"][data-grid-desktop="25:25:25:25"] .c-lay__item {
		/* --lay-gap-num: (4/3); */
		--lay-gap-num: 0.8;
	}
	/* 25% / 75% */
	[data-grid-desktop="25:75"] .c-lay__item:nth-of-type(2n+1),
	[data-grid-desktop="75:25"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: (4/3);
		--lay-item-w: var(--lay-w25);
	}
	[data-grid-desktop="75:25"] .c-lay__item:nth-of-type(2n+1),
	[data-grid-desktop="25:75"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: 4;
		--lay-item-w: var(--lay-w75);
	}
	[data-section-type="slider"][data-grid-desktop="25:75"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-grid-desktop="75:25"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: (2/3);
	}
	[data-section-type="slider"][data-grid-desktop="75:25"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-grid-desktop="25:75"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: (2/3);
	}
	/* 25% / 50% */
	[data-grid-desktop="50:25:25"] .c-lay__item:nth-of-type(3n+1),
	[data-grid-desktop="25:50:25"] .c-lay__item:nth-of-type(3n+2),
	[data-grid-desktop="25:25:50"] .c-lay__item:nth-of-type(3n+3) {
		--lay-gap-num: (3/2);
		--lay-item-w: var(--lay-w50);
	}
	[data-grid-desktop="25:50:25"] .c-lay__item:nth-of-type(3n+1),
	[data-grid-desktop="25:50:25"] .c-lay__item:nth-of-type(3n+3),
	[data-grid-desktop="50:25:25"] .c-lay__item:nth-of-type(3n+2),
	[data-grid-desktop="50:25:25"] .c-lay__item:nth-of-type(3n+3),
	[data-grid-desktop="25:25:50"] .c-lay__item:nth-of-type(3n+1),
	[data-grid-desktop="25:25:50"] .c-lay__item:nth-of-type(3n+2) {
		--lay-gap-num: (3/2);
		--lay-item-w: var(--lay-w25);
	}
	[data-section-type="slider"][data-grid-desktop="50:25:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-grid-desktop="25:50:25"] .c-lay__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-grid-desktop="25:25:50"] .c-lay__item:nth-of-type(3n+3) {
		--lay-gap-num: (3/2);
	}
	[data-section-type="slider"][data-grid-desktop="25:50:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-grid-desktop="25:50:25"] .c-lay__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-grid-desktop="50:25:25"] .c-lay__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-grid-desktop="50:25:25"] .c-lay__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-grid-desktop="25:25:50"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-grid-desktop="25:25:50"] .c-lay__item:nth-of-type(3n+2) {
		--lay-gap-num: (3/5);
	}
	/* 33% */
	[data-grid-desktop="33:33:33"] .c-lay__item {
		--lay-gap-num: (3/2);
		--lay-item-w: var(--lay-w33);
	}
	[data-section-type="masonry"][data-grid-desktop="33:33:33"] {
		--lay-colmc: 3;
	}
	[data-section-type="masonry"][data-grid-desktop="33:33:33"] .c-lay__item {
		--lay-w33: 100%;
	}
	[data-section-type="slider"][data-grid-desktop="33:33:33"] .c-lay__item {
		--lay-gap-num: 0.75;
	}
	/* 33% / 66% */
	[data-grid-desktop="66:33"] .c-lay__item:nth-of-type(2n+2),
	[data-grid-desktop="33:66"] .c-lay__item:nth-of-type(2n+1) {
		--lay-item-w: var(--lay-w33);
	}
	[data-grid-desktop="66:33"] .c-lay__item:nth-of-type(2n+1),
	[data-grid-desktop="33:66"] .c-lay__item:nth-of-type(2n+2) {
		--lay-item-w: var(--lay-w66);
	}
	[data-section-type="slider"][data-grid-desktop="66:33"] .c-lay__item:nth-of-type(2n+2),
	[data-section-type="slider"][data-grid-desktop="33:66"] .c-lay__item:nth-of-type(2n+1) {
		--lay-gap-num: (2/3);
	}
	[data-section-type="slider"][data-grid-desktop="66:33"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-grid-desktop="33:66"] .c-lay__item:nth-of-type(2n+2) {
		--lay-gap-num: (2/3);
	}
	/* 50% */
	[data-grid-desktop="50:50"] .c-lay__item {
		--lay-item-w: var(--lay-w50);
	}
	[data-section-type="slider"][data-grid-desktop="50:50"] .c-lay__item {
		--lay-gap-num: (2/3);
	}
	[data-section-type="masonry"][data-grid-desktop="50:50"] {
		--lay-colmc: 2;
	}
	[data-section-type="masonry"][data-grid-desktop="50:50"] .c-lay__item {
		--lay-w50: 100%;
	}
	/* 100% */
	[data-section-type="slider"][data-grid-desktop="100"] .c-lay__item {
		--lay-gap-num: 2;
		--lay-items-per-page: 1;
		--lay-item-w: var(--lay-w100);
	}
	[data-section-type="stack"][data-grid-desktop="100"] .c-lay__item {
		--lay-item-mis: 0;
		--lay-item-w: 100%;
	}
	/* STACK: Remove margin-inline-start from first item in each row */
	[data-section-type="stack"][data-grid-desktop="20:20:20:20:20"] .c-lay__item:nth-of-type(5n+1),
	[data-section-type="stack"][data-grid-desktop="25:25:25:25"] .c-lay__item:nth-of-type(4n+1),
	[data-section-type="stack"][data-grid-desktop="25:75"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-desktop="75:25"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-desktop="50:25:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-desktop="25:50:25"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-desktop="25:25:50"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-desktop="33:33:33"] .c-lay__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-grid-desktop="33:66"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-desktop="66:33"] .c-lay__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-grid-desktop="50:50"] .c-lay__item:nth-of-type(2n+1) {
		--lay-item-mis: 0;
	}

	/* GAPS */
	.c-lay[data-gap-desktop*="column"] {
		--lay-item-gap: 0px;
		--lay-item-mis: 0px;
	}
	.c-lay[data-gap-desktop*="edge"] {
		--lay-item-smis: 0px;
		--lay-pl: 0px;
		--lay-pr: 0px;
	}
	.c-lay[data-gap-desktop*="row"] {
		--lay-item-mb: 0px;
	}
	.c-lay[data-section-type="grid-gallery"][data-gap-desktop*="grid"] {
		--lay-gap-grid: 0;
	}
	.c-lay[data-section-type="grid-gallery"][data-gap-desktop*="small"] {
		--lay-gap-grid: var(--lay-gap-grid-small);
	}

	/* ITEMS PER PAGE */
	.c-lay[data-grid-desktop="25:25:25:25"] {
		--lay-items-per-page: 4;
	}
	.c-lay[data-grid-desktop="25:25:50"],
	.c-lay[data-grid-desktop="25:50:25"],
	.c-lay[data-grid-desktop="50:25:25"],
	.c-lay[data-grid-desktop="33:33:33"] {
		--lay-items-per-page: 3;
	}
	.c-lay[data-grid-desktop="25:75"],
	.c-lay[data-grid-desktop="75:25"],
	.c-lay[data-grid-desktop="50:50"],
	.c-lay[data-grid-desktop="33:66"],
	.c-lay[data-grid-desktop="66:33"] {
		--lay-items-per-page: 2;
	}
	.c-lay[data-grid-desktop="100"] {
		--lay-items-per-page: 1;
	}

	/* HIDDEN */
	.c-lay[data-grid-desktop="hidden"] {
		display: none;
	}
}

/* GRID GALLERY */
[data-section-type="grid-gallery"] .c-lay__inner {
	align-items: initial;
	display: grid;
	gap: var(--lay-gap-grid);
	grid-template-columns: repeat(3, 1fr);
	/* grid-template-rows: repeat(10, 1fr); */
	padding-bottom: var(--lay-gap-grid);
	padding-left: var(--lay-pl);
	padding-right: var(--lay-pr);
}
[data-section-type="grid-gallery"] .c-lay__item {
	--lay-item-w: 100%;
	--lay-item-mis: 0;
	--lay-item-smis: 0;
}
[data-section-type="grid-gallery"] .c-lay__item::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}
[data-section-type="grid-gallery"] .c-lay__item > * {
	bottom: 0;
	height: 100%;
	left: 0;
	min-height: initial;
	object-fit: cover;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
[data-section-type="grid-gallery"] .c-lay__item[data-page-open="true"] > * {
	animation: scale-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
	object-fit: contain;
}
@media screen and (max-width: 768px) {
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(4n+1) {
		grid-column: span 3;
	}
}
@media screen and (min-width: 768px) {
	[data-section-type="grid-gallery"] .c-lay__inner {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(10, 1fr);
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(1) {
		grid-column: 1/5;
		grid-row: 1/4;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(2) {
		grid-column: 5/7;
		grid-row: 1/3;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(3) {
		grid-column: 5/6;
		grid-row: 3/4;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(4) {
		grid-column: 6/7;
		grid-row: 3/4;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(5) {
		grid-column: 1/3;
		grid-row: 4/5;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(6) {
		grid-column: 3/5;
		grid-row: 4/5;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(7) {
		grid-column: 5/7;
		grid-row: 4/5;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(8) {
		grid-column: 1/3;
		grid-row: 5/7;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(9) {
		grid-column: 1/2;
		grid-row: 7/8;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(10) {
		grid-column: 2/3;
		grid-row: 7/8;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(11) {
		grid-column: 3/7;
		grid-row: 5/8;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(12) {
		grid-column: 1/2;
		grid-row: 8/9;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(13) {
		grid-column: 2/3;
		grid-row: 8/9;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(14) {
		grid-column: 3/5;
		grid-row: 8/10;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(15) {
		grid-column: 5/7;
		grid-row: 8/10;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(16) {
		grid-column: 1/3;
		grid-row: 9/10;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(17) {
		grid-column: 1/4;
		grid-row: 10/11;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(18) {
		grid-column: 4/7;
		grid-row: 10/11;
	}
	/* Aspect Ratio */
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(1)::before,
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(11)::before {
		padding-bottom: 75%;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(5)::before,
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(6)::before,
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(7)::before,
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(16)::before {
		padding-bottom: 50%;
	}
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(17)::before,
	[data-section-type="grid-gallery"] .c-lay__item:nth-of-type(18)::before {
		padding-bottom: calc(100% / 3);
	}
}