/**
 * c-mnu.css
 * @version 1.0.35
 * @summary 25-10-2020
 * @author Mads Stoumann
 * @description Stylesheet for Menu Component
*/

/* Share Icons with other CSS by placing them at :root-level */
:root {
	--ico-cart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M24.719 21a2.995 2.995 0 002.91-2.273l2.311-9.242A2 2 0 0028 7H8.62l-.478-2.392A2.005 2.005 0 006.18 3H3a1 1 0 100 2h3.18l3.648 18.238A3 3 0 1013.825 27h7.35a3 3 0 100-2h-7.35a3.01 3.01 0 00-1.98-1.877L11.418 21h13.3zm3.28-12l-2.31 9.242a.998.998 0 01-.97.758H11.02l-2-10H28zM11 27a1 1 0 01-.002-2H11a1 1 0 010 2zm13-2a1 1 0 110 2 1 1 0 010-2z"></path></svg>');
	--ico-home: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M25.533 5a.87.87 0 01.743.41l2.6 4.225c.014.023.02.048.032.072a.824.824 0 01.091.36l.001.003v2.535c0 .014-.007.027-.009.041.006.179.009.37.009.593l-.002.01.002.018c0 1.637-1.103 3.014-2.617 3.5l.03 7.633c0 1.418-1.172 2.569-2.611 2.57L8.41 27c-1.589 0-2.742-1.124-2.742-2.671l-.025-7.554C4.115 16.295 3 14.915 3 13.267c0-.044.01-.087.013-.13A34.317 34.317 0 013 12.604v-2.54a.805.805 0 01.092-.358c.011-.024.017-.05.031-.072l2.6-4.225A.873.873 0 016.467 5zm-3.466 10.345a3.82 3.82 0 01-3.139 1.623A3.81 3.81 0 0116 15.592a3.811 3.811 0 01-2.93 1.376 3.82 3.82 0 01-3.137-1.623 3.802 3.802 0 01-2.555 1.565l.024 7.416c0 .273.09.863.798.963v-6.13c0-.818.683-1.484 1.523-1.484h3.785c.836 0 1.625.77 1.625 1.584v6.038l8.665-.017c.418 0 .882-.36.882-.877l-.03-7.49a3.8 3.8 0 01-2.583-1.568zm-8.667 4.02H9.933v5.915H13.4v-5.915zM21.66 18c.74 0 1.34.664 1.34 1.48v3.03c0 .807-.626 1.49-1.367 1.49h-4.295C16.6 24 16 23.336 16 22.522V19.49c0-.815.6-1.478 1.338-1.478zm-.222 1.727l-3.876.01v2.537h3.876v-2.547zm5.829-8.812H4.733v2.352c0 .063.013.121.02.183.057.612.389 1.15.884 1.48.33.218.73.348 1.158.348.202 0 .392-.038.576-.09a2.017 2.017 0 001.465-1.71l.461-.001 1.272-.003h.46c.109 1.01.977 1.804 2.042 1.804 1.067 0 1.938-.798 2.042-1.811h.041l1.692-.004h.04c.104 1.016.975 1.815 2.042 1.815 1.072 0 1.944-.802 2.043-1.821l.457-.001 1.277-.003h.456c.08.833.678 1.516 1.481 1.74.18.049.366.085.562.085.435 0 .838-.134 1.17-.359.49-.33.816-.862.874-1.47.006-.06.019-.12.019-.182v-2.352zM25.042 6.69H6.957l-1.56 2.535h21.206L25.042 6.69z"></path></svg>');
	--ico-search: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M28.7 27.3l-5.25-5.25c1.6-1.9 2.55-4.4 2.55-7.05 0-6.05-4.95-11-11-11S4 8.95 4 15s4.95 11 11 11c2.65 0 5.15-.95 7.05-2.55l5.25 5.25c.2.2.45.3.7.3.25 0 .5-.1.7-.3.4-.4.4-1 0-1.4zM6 15c0-4.95 4.05-9 9-9s9 4.05 9 9-4.05 9-9 9-9-4.05-9-9z"></path></svg>');
	--ico-user: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M22.805 15.18A7.89 7.89 0 0024 11a8 8 0 10-16 0 7.89 7.89 0 001.195 4.18A9 9 0 002 24v1a4 4 0 004 4h20a4 4 0 004-4v-1a9 9 0 00-7.195-8.82zM16 5a6 6 0 110 12 6 6 0 010-12zm12 20a2 2 0 01-2 2H6a2 2 0 01-2-2v-1a7 7 0 016.74-7 7.96 7.96 0 0010.5 0A7 7 0 0128 24v1z"></path></svg>');

	--mnu-h: 50px; /* Set from JS?, otherwise calc is: --size + (--inner-pt * 2) + (--item-p * 2) + --bdw */
	--mnu-pos-b: 0;
	--mnu-pos-t: 1;
	--scroll-d: 0; /* Initial - will be updated by JS */
	--scroll-p: 0%;
	--scroll-y: 0;
}

[aria-describedby="new-window-0"] {
  /* TODO! add a visual clue here */
}

[data-menu] {
	--animdur: .3s;
	--animtf: cubic-bezier(.77, 0, .175, 1);
	--b: initial;
	--bdf: saturate(180%) blur(15px);
	--bdw: 0 0 1px 0;
	--bgc: var(--bgc--dim);
	--bxsh: none;
	--c: var(--c--dim);
	--icon: var(--ico-menu);
	--icon-bdw: 1px;
	--icon-bgc: var(--c--dim);
	--icon-size: 80%;
	--inner-bxsh: none;
	--inner-d: flex;
	--inner-jc: space-between;
	--inner-maw: 1600px;
	--inner-pt: 0.25rem;
	--inner-pl: .75rem;
	--item-c: var(--c--dim);
	--item-m: 0;
	--item-p: 0.25rem;
	--item-scale-bgc: #FFF;
	--item-size: 2rem;
	--panel-w: 100%;
	--pos: fixed;
	--subpanel-bb: 1px solid var(--bdc);
	--subpanel-p: 1rem;
	/* --t: calc(0px - ((1px * var(--scroll-y)) * var(--scroll-d, 0))); */
	--t: calc(0px - (var(--mnu-h) * var(--scroll-d, 0)));
	--trs: transform var(--animtf) var(--animdur);
	--w: 100%;

	backdrop-filter: var(--bdf);
	background: var(--bgc);
	border-color: var(--bdc);
	border-style: solid;
	border-width: var(--bdw);
	bottom: var(--b);
	box-shadow: var(--bxsh);
	box-sizing: border-box;
	height: var(--mnu-h);
	position: var(--pos);
	transform: translateY(var(--t));
	transition: var(--trs);
	width: var(--w);
	will-change: transform;
	z-index: var(--z--menu, initial);
}

/* Remove default styling for <summary>-markers for all browsers */
[data-menu] summary {
	display: block;
	list-style-image: none;
	list-style-type: none;
}
[data-menu] summary::marker {
	display: none;
}
[data-menu] summary::-webkit-details-marker {
	display: none;
}

[data-menu-inner] {
	/* All variables are set from [data-menu] */
	align-items: center;
	box-shadow: var(--inner-bxsh);
	box-sizing: border-box;
	display: var(--inner-d);
	height: 100%;
	justify-content: var(--inner-jc);
	margin: 0 auto;
	max-width: var(--inner-maw);
	padding: var(--inner-pt) var(--inner-pl);
	position: relative;
}

[data-menu-item] {
	/* All variables are set from [data-menu] */
	color: var(--item-c);
	margin: var(--item-m);
	outline: none;
	padding: var(--item-p);
	position: relative;
	user-select: none;
	z-index: var(--z--mlnk);
}

[data-menu-panel] {
	/* Some variables are set from :root & [data-menu] */
	--animn: scale-left-right;
	--b: calc(var(--mnu-h) * var(--mnu-pos-b));
	--bgc: #FFF;
	--bxsh: none;
	--c: initial;
	--h: calc(100vh - var(--mnu-h, 0));
	--l: 0;
	--o: 0;
	--p: 0;
	--pos: fixed;
	--r: initial;
	--t: calc(var(--mnu-h) * var(--mnu-pos-t));
	--tx: -100vw; /* Panels slide-in from LEFT by default */
	--ty: 0;
	--z: -1;

	background-color: var(--bgc);
	bottom: var(--b);
	box-shadow: var(--bxsh);
	box-sizing: border-box;
	color: var(--c);
	height: var(--h);
	left: var(--l);
	opacity: var(--o);
	padding: var(--p, 0);
	position: var(--pos);
	right: var(--r);
	top: var(--t);
	transform: translate(var(--tx), var(--ty));
	transform-origin: var(--tx) var(--ty);
	transition: .3s opacity ease-in, var(--animdur) var(--animtf);
	width: var(--panel-w);
	z-index: var(--z);
}


/*
=================================
MODIFIERS FOR BOTH DESKTOP/MOBILE
*/

/* Active Item */
[data-menu-item*="active"],
[data-menu-group][open] [data-menu-item] {
	--c: var(--active);
	--icon-bgc: var(--active);
}

/* Scale / Circle */
[data-menu-item*="scale"],
[data-menu-mobile*="float"] [data-burger] {
	background-color: var(--item-scale-bgc);
	border: var(--icon-bdw) solid var(--bdc);
	border-radius: 50%;
	height: var(--item-size);
	transform: scale(1.35) translateY(0.35rem);
	width: var(--item-size);
}
[data-burger][data-menu-item="scale"] {
	--m: 6px;
	--w: 20px;
}

/*
=====
LOGIC
*/

[data-menu-group][open] [data-menu-item] + [data-menu-panel],
input:checked + [data-menu-item] + [data-menu-panel] {
	--o: 1;
	transform: none;
}
[data-menu-group][open] [data-menu-item] + [data-menu-panel] {
	animation: var(--animn) var(--animdur) var(--animtf) forwards;
	transform-origin: 0 0;
}


/*
================
RWD: MOBILE ONLY
*/
@media screen and (max-width: 767px) {

	[data-menu-panel] {
		overflow-y: scroll;
	}

	/* Panel Slide Direction */
	[data-menu-panel="bottom"] {
		--animn: scale-top-bottom;
		--ty: 100vh;
		--tx: 0;
	}
	[data-menu-panel="left"] {
		--animn: scale-left-right;
		--bxsh: 1rem 0 0.5rem -0.25rem rgba(0,0,0,0.16);
		--ty: 0;
		--tx: -100vw;
	}
	[data-menu-panel="right"] {
		--animn: scale-left-right;
		--bxsh: -1rem 0 0.5rem -0.25rem rgba(0,0,0,0.16);
		--l: auto;
		--r: 0;
		--ty: 0;
		--tx: 100vw;
	}
	[data-menu-panel="top"] {
		--animn: scale-top-bottom;
		--ty: -100vh;
		--tx: 0;
}

	/* Style Sub-Panel Items */
	[data-menu-panel] [data-menu-group] [data-menu-item] {
		--item-p: var(--subpanel-p);
		border-bottom: var(--subpanel-bb);
	}
	[data-menu-panel] [data-menu-group][open] [data-menu-panel] {
		--animn: none;
		--panel-w: 100%;
	}

	[data-menu-group][open] [data-menu-group][open] [data-menu-panel] { 
		border-bottom: var(--subpanel-bb);
		--p: var(--subpanel-p);
	}

	/* TODO CLEAN UP */
	[data-menu-panel] [data-menu-group][open] [data-menu-item] + [data-menu-panel] {
		--h: auto;
		--pos: static;
	}

	/* Dock To Bottom */
	[data-menu-mobile="bottom"] {
		--mnu-pos-b: 1;
		--mnu-pos-t: 0;
	}
	[data-menu-mobile="bottom"] [data-menu] {
		--bdw: 0;
		--inner-bxsh: 0px -1px 0px 0px var(--bdc);
		--b: 0;
		--t: auto;
	}
	[data-menu-mobile="bottom"] [data-menu] [data-menu-item*="scale"] {
		transform: scale(1.35) translateY(-0.35rem);
	}
	[data-menu-mobile="bottom"] [data-menu] [data-menu-panel] {
		--b: var(--mnu-h);
		--t: auto;
	}

	/* Fixed To Top */
	[data-menu-mobile="fixed"] {
		--scroll-line-top: var(--mnu-h);
	}
	[data-menu-mobile="fixed"] [data-menu] {
		--t: 0;
	}

	/* Floating Toggler */
	[data-menu-mobile="float"] {
		--mnu-pos-b: 0;
		--mnu-pos-t: 0;
		--scroll-line-top: 0;
	}
	[data-menu-mobile="float"] [data-menu] {
		--b: 0;
		--bdf: none;	
		--bdw: 0;
		--bgc: transparent;
		--inner-bgc: transparent;
		--inner-d: inner-flex;
		--t: auto;
		text-align: right;
	}
	[data-menu-mobile="float"] [data-burger] {
		transform: scale(1.5) translate(-1.25rem, -0.75rem);
	}
	/* Hide All Menu Items EXCEPT `burger`-icon */
	[data-menu-mobile="float"] [data-menu-item]:not([data-burger]) {
		display: none;
	}
	[data-menu-mobile="float"] [data-menu-panel] [data-menu-group] [data-menu-item] {
		display: block;
	}
	[data-menu-mobile="float"] [data-menu-panel] {
		--b: 0;
		--h: 100vh;
		--t: auto;
		text-align: initial;
	}

	/* Static Position */
	[data-menu-mobile="static"] {
		--mnu-pos-t: 0;
		--scroll-line-top: 0;
	}
	[data-menu-mobile="static"] [data-menu] {
		--pos: relative;
	}
	[data-menu-mobile="static"] [data-menu-panel] { 
		--t: var(--mnu-h);
	}

	/* Re-order Menu Items for Mobile */
	[data-menu-order="1"] { order: 1; }
	[data-menu-order="2"] { order: 2; }
	[data-menu-order="3"] { order: 3; }
	[data-menu-order="4"] { order: 4; }
	[data-menu-order="5"] { order: 5; }
	[data-menu-order="6"] { order: 6; }
	[data-menu-order="7"] { order: 7; }
	[data-menu-order="8"] { order: 8; }
	[data-menu-order="9"] { order: 9; }
	[data-menu-order="10"] { order: 10; }

	/* Mobile Panel Height */
	[data-menu-panel-height="100"] {
		--b: 0;
		--h: 100vh;
		--t: 0;
		--z: var(--z--mpnl);
	}
	[data-menu-mobile="bottom"] [data-menu-panel-height="100"] { 
		--b: 0;
		--t: auto;
	}

	/* TODO Mobile Panel Width */
	[data-menu-panel-width="85"] {
		--panel-w: 85%;
	}
}

/*
===========
RWD: TABLET
*/
@media screen and (min-width: 768px) {
	:root {
		--mnu-h: 65px;
		--mnu-pos-b: 0;
		--mnu-pos-t: 1;
	}

	[data-menu] {
		--inner-bgc: rgba(255, 255, 255, .96);
		--inner-jc: flex-start;
		--inner-pt: 0.75rem;
		--item-m: 0 0.5rem;
	 }

	 /* Fixed To Top */
	[data-menu-desktop="fixed"] {
		--scroll-line-top: var(--mnu-h);
	}
	[data-menu-desktop="fixed"] [data-menu] {
		--t: 0;
	 }

	 /* Static Position */
	 [data-menu-desktop="static"] {
		--mnu-pos-t: 0;
		--scroll-line-top: 0;
	}
	[data-menu-desktop="static"] [data-menu] {
		--pos: relative;
		--t: 0;
	}

	/* TODO Focus */
	[data-menu-item]:focus {
		outline: 1px dotted grey;
	}

	[data-menu-panel] {
		--animn: scale-top-bottom;
		--bxsh: 0 4px 16px 0 rgba(0,0,0,.08);
		--h: 0;
		--l: 0;
		--p: 1rem;
		--pos: absolute;
		--t: 100%;
		--tx: -100%;
		--ty: 0;
		--w: 100%; 
	}

	/* Target First-Level Panels */
	[data-menu-inner] > [data-menu-group][open] [data-menu-panel],
	[data-menu-toggle] > [data-menu-group][open] > [data-menu-panel] {
		min-height: 20rem;
		/* TODO FROM SETTING */
	}

	/* Target Sub-Level Panels */
	[data-menu-group][open] [data-menu-group][open] [data-menu-panel] {
		--animn: none;
		--bgc: transparent;
		--bxsh: none;
		--h: auto;
		--p: 0.25rem 0 0 0.75rem;
    --pos: relative;
	}

	/* Display inner contents of menu-toggle (the panel will only be shown on mobile */
	[data-menu-toggle] {
		display: contents;
	}

	[data-menu-toggle] > [data-menu-group]:last-child {
		 margin-right: auto;
	 }

	/* TODO: Get rid of !important */
	[for="menu-toggle"][data-burger] {
		display: none;
	}
	[data-exp-icon]::after,
	[data-exp-icon]::before { display: none !important; }
}


@media (prefers-color-scheme: dark) {
	[data-menu-item] {
		/* --c: #FFF; */
		--icon-bgc: var(--c);
	}
	[data-menu-item]:focus {
		--c: var(--active);
		outline: none;
		text-decoration: dotted underline;
	}
}

@keyframes scale-top-bottom {
	0% { opacity: 0; transform: scaleY(0);}
	100% { opacity: 1; transform: scaleY(1); }
}

@keyframes scale-left-right {
	0% { opacity: 0; transform: scaleX(0);}
	100% { opacity: 1; transform: scaleX(1); }
}

/* OTHER: MOVE TO OWN MODULE? */

/*
=========================================
Columns. Desktop Only: Add Column-Count.
Add as data-attribute `data-columns` to element
*/
@media screen and (min-width: 768px) {
	[data-columns="2"] { column-count: 2;	}
	[data-columns="3"] { column-count: 3;	}
	[data-columns="4"] { column-count: 4;	}
}

/*
=================================================
Accordion Icons: Down, Right Arrow or Plus/Minus 
Add as data-attribute `data-exp-icon` to <span> within <summary>, or to a label directly after a checkbox/radio.
https://www.nngroup.com/articles/accordion-icons/
*/
[data-exp-icon] {
	--animdur: .3s;
	--animtf: ease-in;
	--bdw: 2px;
	--c: currentColor;
	--size: 1rem;

	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
}
[data-exp-icon]::after,
[data-exp-icon]::before {
  transform-origin: 50% 50%;
	transition: all var(--animdur) var(--animtf);
}

[data-exp-icon="down"]::after,
[data-exp-icon="right"]::after {
  background: transparent;
	border-color: var(--c);
	border-style: solid;
  box-sizing: border-box;
	content: '';
	display: inline-block;
	height: var(--size);
	margin: 0;
  position: relative;
	width: var(--size);
}
[data-exp-icon="down"]::after {
	border-width: 0 var(--bdw) var(--bdw) 0;
  right: 0;
  top: calc(0px - ((var(--size) / 2) - var(--bdw)));
  transform: rotate(45deg);
}
[data-exp-icon="right"]::after {
	border-width: var(--bdw) var(--bdw) 0 0;
  right: calc((var(--size) / 4));
  top: 0;
	transform: rotate(45deg);
}

[data-exp-icon="cross"]::after,
[data-exp-icon="cross"]::before,
[data-exp-icon="plus"]::after,
[data-exp-icon="plus"]::before {
	--w: calc(var(--size) * 1.4142135623730950488016887242097);
	background: var(--c);
	content: '';
	height: var(--bdw);
	position: absolute;
	right: calc(0px - (var(--w) - var(--size)) / 2);
	/* Width need to be the diagonal of the down-arrow side-length (--size): sqrt(2) * --size. */
	width: var(--w);
}
[data-exp-icon="cross"]::before,
[data-exp-icon="plus"]::before {
	transform: rotate(90deg);
}

/* STATE */
[open] > summary > [data-exp-icon="cross"]::after {
	transform: rotate(45deg);
}
[open] > summary > [data-exp-icon="cross"]::before {
  transform: rotate(135deg);
}
[open] > summary > [data-exp-icon="down"]::after {
  top: var(--bdw);
	transform: rotate(45deg) scale(-1) ;
}
[open] > summary > [data-exp-icon="right"]::after {
  right: 0;
  top: calc(0px - ((var(--size) / 2) - var(--bdw)));
	transform: rotate(135deg);
}
[open] > summary > [data-exp-icon="plus"]::after {
	transform: rotate(180deg);
}
[open] > summary > [data-exp-icon="plus"]::before {
	transform: rotate(-0deg);
}

/*
=============================================
Burger Icon - turns into a cross when checked
Add as data-attribute `data-burger` to  a <label>, after checkbox/radio.
<label>-tag must contain a blank <i></i>-tag.
*/
[data-burger] {
	--animdur: .3s;
	--bdrs: 2px;
	--h: 2px;
	--line-c: var(--icon-bgc, currentColor);
	--m: 7px;
	--w: 24px;
	align-items: center;
	display: inline-flex;
	height: var(--item-size);
	justify-content: center;
	position: relative;
	width: var(--item-size);
}
[data-burger] i,
[data-burger] i::after,
[data-burger] i::before {
	background-color: var(--line-c);
	border-radius: var(--bdrs);
	content: "";
	display: block;
	height: var(--h);
	justify-content: center;
	position: absolute;
	transition-duration: var(--animdur);
	transition-property: background-color, transform;
	width: var(--w);
}
[data-burger] i::after { top: var(--m); }
[data-burger] i::before { top: calc(0px - var(--m)); }

input:checked + [data-burger] i { background-color: transparent; }
input:checked + [data-burger] i::after { transform: translateY(calc(0px - var(--m))) rotate(-45deg); }
input:checked + [data-burger] i::before { transform: translateY(var(--m)) rotate(45deg); }

/*
==================
Circle with Number
If value is empty, circle will not be shown.
*/
[data-circle-num] {
	position: relative;
}
[data-circle-num]:not([data-circle-num=""])::after {
	--bgc: firebrick;
	--c: white;
	--fz: x-small;
	--size: 1.2rem;

	background: var(--bgc);
	border-radius: 50%;
	color: var(--c);
	content: attr(data-circle-num);
	display: block;
	font-size: var(--fz);
	height: var(--size);
	line-height: var(--size);
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: var(--size);
}

/*
============
Icon as mask
Icon will have to exist as a CSS custom property, update `--icon`-variable.
*/

[data-icon] {
	--bgsz: var(--icon-size, 80%);
	--icon-c: var(--icon-bgc, currentColor);
	--w: var(--size, 2rem);
	background-color: var(--icon-c);
	display: block;
	height: var(--w);
	mask: no-repeat center center/var(--bgsz) var(--icon);
	-webkit-mask: no-repeat center center/var(--bgsz) var(--icon);
	width: var(--w);
}

/*
===============================
Skip Link, only show on :focus
TODO
*/
[data-skip-link] {
	background: black;
	color: white;
	font-size: small;
	left: 50%;
	padding: 1em 2em;
	position: fixed;
	top: -6.25rem;
	transform: translateX(-50%);
	transition: all .3s ease-in;
	z-index: var(--z--skip);
}
[data-skip-link]:focus {
	outline: 0;
	text-decoration: underline;
	top: 0;
}

/*
=============================
Text After or Before element
If value is empty, text will not be shown.
*/
[data-text-after]:not([data-text-after=""])::after,
[data-text-before]:not([data-text-before=""])::before {
	--bgc: hsl(195, 100%, 30%);
	--c: hsl(195, 100%, 99%);
	--m: 0.5em;
	--p: 0.125em 0.5em;

	background-color: var(--bgc);
	color: var(--c);
	display: inline-table;
	font-size: xx-small;
	padding: var(--p);
	text-transform: uppercase;
}
[data-text-after]::after {
	content: attr(data-text-after);
	margin-inline-start: var(--m);
}
[data-text-before]::before {
	content: attr(data-text-before);
	margin-inline-end: var(--m);
}



/* DEMO: Default icons for menu */
[data-icon="cart"] { --icon: var(--ico-cart); }
[data-icon="home"] { --icon: var(--ico-home); }
[data-icon="search"] { --icon: var(--ico-search); }
[data-icon="user"] { --icon: var(--ico-user); }

/* DEMO STYLES */
@media screen and (min-width: 768px) {
	[data-menu-group="cart"] > [data-menu-panel] {
		--bgc: lightslategrey;
		--c: white;
		--l: auto;
		--panel-w: 20rem;
		--r: 0;
	}
}

[data-menu-group="list"] {
	break-inside: avoid-column;
	/* TODO: ONLY DESKTOP */
	/* margin-bottom: 1rem; */
}
[data-menu-group="list"] [data-menu-item] {
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
[data-menu-group="list"] a {
	align-items: center;
	color: inherit;
	display: flex;
	line-height: 1.6;
	text-decoration: none;
}

