/**
 * c-stl.css
 * @version 1.0.0
 * @summary 18-09-2020
 * @author Mads Stoumann
 * @description Stylesheet for Storytelling Component
*/

.c-stl {
	--head-bgc: hsl(195, 2%, 13%);
	--head-c: hsl(195, 2%, 98%);
	--head-m: 1em 0 0 0;
	--head-w: 80%;
	--text-bgc: rgba(255, 255, 255, .85);
	--text-c: hsl(195, 2%, 13%);
	--text-m: 1em auto 0 auto;
	--text-w: 80%;

	font-size: 1rem;
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.c-stl__content {
	position: absolute;
	top: 0;
}
.c-stl__image,
.c-stl__video {
	/* Place images and videos as full height/width background */
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
} 
.c-stl__headline {
	background-color: var(--head-bgc);
	box-sizing: border-box;
	color: var(--head-c);
	font-size: 130%;
	margin: var(--head-m);
	padding: .5em;
	width: var(--head-w);
}
.c-stl__text {
	background-color: var(--text-bgc);
	box-sizing: border-box;
	color: var(--text-c);
	line-height: 1.4;
	margin: var(--text-m);
	padding: 1em;
	width: var(--text-w);
}
/* Modifiers */
.c-stl--right {
	--head-m: 1em 0 0 auto;
	--text-m: 1em auto 0 1em;
	--text-w: 90%;
}
/* Landscape */
@media screen and (max-height: 24rem) {
	.c-stl,
	.c-stl--right {
		--head-m: 0;
		--head-w: 100%;
		--text-m: 0;
		--text-w: 100%;
	}
}
@media screen and (max-width: 48rem) {
	/* Hide navigation arrows on small devices */
	[data-item-type="story"] .c-lay__nav {
		display: none;
	}
}
@media screen and (min-width: 48rem) {
	.c-stl {
		height: initial;
		max-height: 100vh;
		width: initial;
	}
	.c-stl::after {
		/* Set aspect-ratio to typical phone-size */
		content: "";
		display: block;
		padding-bottom: 177.777778%;
	}
}
@media screen and (min-width: 48rem) {
	[data-item-type="story"][data-nav*="inside"] .c-lay__dots {
		display: none;
	}
	.c-stl {
		font-size: 1.2rem;
	}
}
@media screen and (min-width: 75rem) {
	.c-stl {
		font-size: 1.5rem;
	}
}
