/* @import 'config.css'; */

/* Styles for demo only */

html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--bgc);
	color: var(--c);
	font-family: ui-sansserif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	margin: 0;
}
code {
	--spacer-bottom: 0;
	--spacer-top: 0;
	/* background-color: #37B2AD;
	color: #FEFEFE; */
	background-color: hsla(178, 53%, 65%, 1);
  color: hsla(0, 0%, 25%, 1);
	padding: 0 0.25em;
	white-space: nowrap;
}
.item {
	background-color: deepskyblue;
	box-sizing: border-box;
	color: #383838;
	min-height: 300px;
	box-sizing: border-box;
	padding-left: var(--lay-gap);
	padding-right: var(--lay-gap);
	padding-top: var(--lay-gap);
}
.c-lay__item:focus {
	outline: none;
}
.c-lay__item:focus > * {
	box-shadow: 0px 6px 1px#ff5722;
}
.item--0 { background-color: white; line-height: 1.6; }
.item--1 { background-color: hotpink; color: #282828; min-height: 200px; }
.item--2 { background-color: orange; min-height: 400px; }
.item--3 { background-color: greenyellow; min-height: 150px; }
.item--4 { background-color: plum; min-height: 300px; }
.item--5 { background-color: paleturquoise; min-height: 200px; }
.item--6 { background-color: burlywood; min-height: 400px; }
.item--7 { background-color: tomato; color: #282828; min-height: 300px; }
.item--8 { background-color: aquamarine; min-height: 150px; }
.item--9 { background-color: #d4ddf9; min-height: 200px;; min-height: 200px; }

/* FIX */
.c-lay__item figure {
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.ebook-demo {
	margin: 0 5%;
	max-width: 90%;
} 

.c-lay__item textarea {
	border: 1px solid currentColor;
	box-sizing: border-box;
	min-height: 15rem;
	resize: none;
	width: 100%;
}

/* Show/Hide elements based on media queries */

[data-show="d:sr"],
.sr-only {
	clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
@media screen and (max-width: 767px) { 
	[data-show*="S-d:b"] { display: block; }
	[data-show*="S-d:f"] { display: flex; }
	[data-show*="S-d:il"] { display: inline; }
	[data-show*="S-d:ib"] { display: inline-block; }
	[data-show*="S-d:if"] { display: inline-flex; }
	[data-show*="S-d:n"] { display: none; }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	[data-show*="M-d:b"] { display: block; }
	[data-show*="M-d:f"] { display: flex; }
	[data-show*="M-d:il"] { display: inline; }
	[data-show*="M-d:ib"] { display: inline-block; }
	[data-show*="M-d:if"] { display: inline-flex; }
	[data-show*="M-d:n"] { display: none; }
}
@media screen and (min-width: 1200px) {
	[data-show*="L-d:b"] { display: block; }
	[data-show*="L-d:f"] { display: flex; }
	[data-show*="L-d:il"] { display: inline; }
	[data-show*="L-d:ib"] { display: inline-block; }
	[data-show*="L-d:if"] { display: inline-flex; }
	[data-show*="L-d:n"] { display: none; }
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--bgc--dark);
		color: var(--c--dark);
	}
	code {
		background-color: #81E5d9;

	}
	.item {
		background-color: #a4b1c1;
	}
	.item--0 {
		background-color: transparent;
		color: white;
	}
}

/* TODO */
.c-brc { display: flex; list-style-type: none; padding: 0; }