/**
 * g-typ.css
 * @version 1.0.4
 * @summary 24-07-2020
 * @author Mads Stoumann
 * @description Stylesheet for g-typgraphy
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
  More on emmett: https://docs.emmet.io/cheat-sheet/
  
  Use clamp() for dead-simple responsive g-typgraphy:
  font-size: clamp( (var(--font-min) * 1rem), 2vw, (var(--font-max) * 1rem) );

  For more control, use .g-typ — see below.
*/
[class*="g-typ--"],
[class*="g-typ--"] p {
  --font-min: 1;      /* 1rem = 16px */
  --font-max: 1.5;    /* 1.5 rem = 24px */
  --line-min: 2;      /* Multiplier: must be an integer. Multiply with --base-min, 2 x 0.75 = 1.5rem = 24px */
  --line-max: 2;      /* Multiply with --base-max, 2 x 1.125rem = 2.25rem = 36px */
  --line-space: calc((var(--line-height) - var(--font-size)) / 2);

  /* Spacer-units, use for padding/margins. One unit equals the value of `--base-grid` */
  --spacing-top: calc((var(--spacer-top, 0) * var(--base-grid)));
  --spacing-right: calc((var(--spacer-right, 0) * var(--base-grid)));
  --spacing-bottom: calc((var(--spacer-bottom, 1) * var(--base-grid)));
  --spacing-left: calc((var(--spacer-left, 0) * var(--base-grid)));

  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: var(--spacing-bottom);
  padding-left: var(--spacing-left);
  padding-right: var(--spacing-right);
  padding-top: var(--spacing-top);
}
.g-typ__dynamic {
  /*
    All values are in rem's, but should be specified without unit.
    The values change fluidly between `min` and `max`.
    Example: `--base-grid` changes fluidly from 0.75rem (12px) to 1.125rem (18px)
  */
  --base-min: 0.75;   /* 12px */
  --base-max: 1.125;  /* 18px */
  --min-screen: 20;   /* 320px */
  --max-screen: 100;  /* 1600px and greater */
  --base-grid: calc((var(--base-min) * 1rem) + (var(--base-max) - var(--base-min)) * ((100vw - (var(--min-screen) * 1rem)) / (var(--max-screen) - var(--min-screen))));
}
.g-typ__dynamic [class*="g-typ--"] {
  --font-size: calc((var(--font-min) * 1rem) + (var(--font-max) - var(--font-min)) * ((100vw - (var(--min-screen) * 1rem)) / (var(--max-screen) - var(--min-screen))));
  --line-height: calc(((var(--base-min) * var(--line-min)) * 1rem) + ((var(--base-max) * var(--line-max)) - (var(--base-min) * var(--line-min))) * ((100vw - (var(--min-screen) * 1rem)) / (var(--max-screen) - var(--min-screen))));
}
/* Static grid, add breakpoints manually */
.g-typ__static {
  --base-grid: 0.75rem;
}
.g-typ__static [class*="g-typ--"] {
  --font-size: calc(var(--font-min) * 1rem);
  --line-height: calc(var(--line-min) * var(--base-grid));
}
.g-typ__static--grid {
  /* Add to a section to render static grid-lines */
  background-color: #C6FFCC;
  background-image: linear-gradient(to bottom, lightblue 1px, transparent 1px);
  background-size: 1px var(--base-grid);
  /*
    To visually align text to lines, deduct `line-space`, example:
    margin-top: calc(0px - var(--line-space));
  */
}

/* MODIFIERS */
.g-typ--xxs { 
  --font-min: 0.5625; /* 9px */
  --font-max: 0.8125;
  --line-min: 1;
  --line-max: 1;
  --spacer-top: 0;
  --spacer-bottom: 1;
 }
.g-typ--xs { 
  --font-min: 0.625; /* 10px */
  --font-max: 0.9375;
}
.g-typ--s { 
  --font-min: 0.8125; /* 13px */
  --font-max: 1.21875;
}
.g-typ--m {
  --font-min: 1; /* 16px */
  --font-max: 1.5;
}
.g-typ--l {
  --font-min: 1.125; /* 18px */
  --font-max: 1.6875;
}
.g-typ--xl {
  --font-min: 1.25; /* 20px */
  --font-max: 1.6875;
}
.g-typ--xxl {
  --font-min: 1.5; /* 24px */
  --font-max: 2.25;
}
.g-typ--xxxl {
  --font-min: 2; /* 32px */
  --font-max: 4;
}
.g-typ--xxxxl {
  --font-min: 3; /* 48px */
  --font-max: 5;
}

/* Headlines */
.g-typ--h1 {
  --font-min: 2;
  --font-max: 4;
  --line-min: 3;
  --line-max: 4.5;
  --spacer-top: 2;
  --spacer-bottom: 2;
}

.g-typ--h2 {
  --font-min: 1.5;
  --font-max: 3;
  --line-min: 2;
  --line-max: 2;
  --spacer-top: 2;
  --spacer-bottom: 1;
}

.g-typ--h3 {
  --font-min: 1.17;
  --font-max: 2.34;
  --line-min: 2;
  --line-max: 3;
  --spacer-top: 0;
  --spacer-bottom: 1;
  /* margin-top: calc(0px - var(--line-space)); */
}
.g-typ--h4 {
  font-weight: 400;
}


/* TODO
 g-typgraphic Widths */
 .g-typ--line {
  max-width: 60ch;
}


@media screen and (min-width: 100rem) {
  .g-typ__dynamic {
    --base-grid: calc(var(--base-max) * 1rem);
  }
  [class*="g-typ--"] {
    --font-size: calc(var(--font-max) * 1rem);
    --line-height: calc(var(--line-max) * 1rem);
  }
}